<h2>List of Active Users</h2>

<% @users.each do |user| %>
  <%= link_to user.username, user_path(user) %>
  <br>
<% end %>

<br>
<h2>Today's Posts || <%= @numberofposts %></h2>

<% @todaysposts.each do |post| %>
  <%= link_to post.title, post_path(post) %> ||  <%= post.number_of_comments %>

  <br>
<% end %>
