@import "bootstrap-sprockets";
@import "bootstrap";

.user_answer {
  font-weight: 700;
}

.little-description {
  font-size: 75%;
}

.col-md-1 {
  text-align: center;
}

.navbar {
  border-radius: 0px;
}
