@import "bootstrap-sprockets";
@import "bootstrap";

.user_answer {
  font-weight: 700;
}

.little-description {
  font-size: 75%;
}

.col-md-1 {
  text-align: center;
}

.navbar {
  border-radius: 0px;
}

.index-post-title {
  font-size: 125%;
}

.upvote {
  font-size: 200%;
}

.post-title {
  font-size: 200%;
}

.post-author {
  font-size: 100%;
  margin-left: 10px;
}

.post-content {
  background-color: #E6E6E6;
  padding: 20px;
  border-radius: 10px;
}
.navbar-brand a {
  text-decoration: none;
}

.navbar-brand {
  font-color: #fff;
}
